<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="xendit.xendit_qa_assesment.Listeners" />
</listeners>

	<test name="Test1">
		<classes>
			<class name="xendit.xendit_qa_assesment.addition" />
		</classes>
	</test>

	<test name="Test2">
		<classes>
			<class name="xendit.xendit_qa_assesment.division" />
		</classes>
	</test>

	<test name="Test3">
		<classes>
			<class name="xendit.xendit_qa_assesment.substraction" />
		</classes>
	</test>

	<!-- Test -->


</suite> <!-- Suite -->
